<% include ../partials/header %>

<div class="ui main text container segment">

        <h2>edit <%=cat.name%></h2>
        <form class="ui form" action="/cats/<%=cat._id%>?_method=PUT" method="POST" >
          <div class="field">
            <label>Cat Name</label>
            <input type="text" name="cat[name]" value="<%=cat.name%>">
          </div>
          <div class="field">
            <label>Cat Image</label>
            <input type="text" name="cat[image]" value="<%=cat.image%>">
          </div>
          <div class="field">
                <label>habbit</label>
                <input type="text" name="cat[habbit]" value="<%=cat.habbit%>">
              </div>
       
          <button class="ui green button" type="submit">update cat</button>
        </form>
    
    </div>


<% include ../partials/footer %>